:root {
  /*Rakuten Colors*/
  --color--r--white: #ffffff;
  --color--r--neutral: #f7f7f7;
  --color--r--fog-gray: #dddddd;
  --color--r--lighter-grey: #d1d1d1;
  --color--r--light-grey: #9c9e9f;
  --color--r--steel-gray: #9c9c9c;
  --color--r--dimmer-light-grey: #777777;
  --color--r--almost-grey: #686868;
  --color--r--slate-grey: #4a4a4a;
  --color--r--gray: #333333;
  --color--r--black: #000000;
  --color--r--red: #C10001;
  /*Rakuten Colors*/

  /*NEXT Colors*/
  --color--n--white: #ffffff;
  --color--n--neutral: #f7f7f7;
  --color--n--off-white: #f7f7f7;
  --color--n--soft-gray: #eeeeee;
  --color--n--charcoal: #616161;
  --color--n--gray: #4a4a4a;
  --color--n--mint: #96d2a3;
  --color--n--green: #257f39;
  --color--n--aqua: #dcf0ef;
  --color--n--black: #000000;
  --color--n--red: #ff0000;
  /*NEXT Colors*/
}
