@font-face {
    font-family: 'RakutenSansUi, sans-serif';
    font-display: swap;
    src: url(../fonts/Rakuten/RakutenSansUI.woff2) format('woff2');
}

@font-face {
    font-family: 'AzoSans, sans-serif';
    font-display: swap;
    src: url(../fonts/Next/AzoSans.woff2) format('woff2');
}